@import url('config.css');

body {
    background-color: var(--cor-fundoClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    background-color: var(--cor-card);
    max-width: 350px;
    width: 350px;
    border-radius: 25px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagem e seu container */
.image-container {
    height: 135px;
    border-radius: 50%;
    padding: 30px 0 0 0;
    margin-bottom: 10px;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--cor-branco);
}

/* As informações e links */
.info {
    background-color: var(--cor-branco);
    text-align: center;
    border-radius: 0 0 25px 25px;
    width: 100%;
    padding: 60px 25px 30px 25px;
}

.info p {
    color: var(--cor-subFonte);
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.info label {
    position: relative;
    padding: 10px 25px;
    border-radius: 35px;
    background-color: var(--cor-card);
    color: var(--cor-branco);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info label::before {
    content: "Cancelar";
    padding: 10px 25px;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: var(--cor-card);
    color: var(--cor-branco);
    opacity: 0;
    pointer-events: none;
}

.info label:hover {
    letter-spacing: 1px;
}

.info #check {
    display: none;
}

.info #check:checked~label::before {
    opacity: 1;
    pointer-events: auto;
}

.icons {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-fundoClaro);
    padding: 40px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 0 4px #00000080;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}

.icons::before {
    content: "";
    position: absolute;
    bottom: -9px;
    height: 18px;
    width: 18px;
    background-color: var(--cor-fundoClaro);

    transform: rotate(45deg);
}

#check:checked~.icons {
    opacity: 1;
    pointer-events: auto;
}

/* Deixando cada link com um modelo */
.info .icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    color: var(--cor-branco);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    transition: 1s;
}

.info .icons a:hover {
    transform: scale(1.2);
}


/* Alterando apenas as cores de fundoClaro do item */
#github {
    background-color: var(--cor-github);
}

#linkedin {
    background-color: var(--cor-linkedin);
}

#email {
    background-color: var(--cor-email);
}

/* RESPOSIVIDADES PARA TELAS MENORES */

@media  (max-width: 768px) {
    .icons {
        padding: 30px;
        width: 80%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .icons {
        width: 50%;
    }
}